table th {
    background-color: #FF9872;
    padding: 10px 20px;
}

table td {
    background-color: #FFC7AF;
    padding: 10px 20px;
}

.partial {
    color: white;
    background-color: #CC0000;
    padding: 15px;
}

footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #CC0000;
    width: 99%;
    padding: 15px;
    font-size: 29px;
}